.wrapper {
    display: inline-block;
}

.wrapper__button {
    border-radius: 5px;

    outline: none;
    background-color: cadetblue;
    padding: 10px 50px;
}

.wrapper__button:hover{
    border-color: cadetblue;
    background-color: white;
    cursor: pointer;
}